<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  <header class="site-header">
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
  </header>
  <div class="page-content">
    {{ content }}
  </div>
  <br><br>
  <div class="bottom">
    <div class="bottom-content">
      <span>.ninja {</span>
      <br>
      <span>&emsp;&emsp;&emsp;&emsp;color&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;: black;</span>
      <br>
      <span>&emsp;&emsp;&emsp;&emsp;visibility&emsp;: hidden;</span>
      <br>
      <span>}</span>
    </div>
  </div>
  {% include ga.html %} {% include mathjax.html %}
</body>

</html>